html {
  font-size: 20px;
  background-color: aliceblue;
  color: navy;
  font-family: monospace;
  letter-spacing: 0px;
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  margin: auto;
  text-align: center;
  width: 600px;
}

.grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  width: 480px;
  height: 480px;
  margin: auto;
  margin-top: 20px;
  border-bottom: 4px solid navy;
  border-top: 4px solid navy;
  border-left: 4px solid navy;
  border-right: 4px solid navy;
}

.grid-button-all {
  font-size: 100px;
  border: 0;
  background-color:aliceblue;
  height: 150px;
  width: 150px;
  margin: auto;
}

.grid-border {
  background-color: lightblue;
  height: 484px;
  width: 484px;
  margin: auto;
}

